
.pagination {

    display: flex;
  
    border: 1px solid #fff;
  
    justify-content: space-between;
  
    padding: 20px;
  
  }
  
  
  
  .pagination button {
    border: none;
    padding: 10px;
    background-color: transparent;
  }